* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 70vh;
  display: grid;
  place-content: center;
  position: relative;
}

.container {
  text-align: center;
}

h1 {
  margin-top: -5px;
  margin-bottom: -1px;
  line-height: 1;
  font-size: 1.7rem;
}

img {
  width: 300px;
  height: 200px;
}

input {
  width: 200px;
  outline: none;
  text-align: center;
}

button {
  margin-top: 15px;
}

p {
  font-size: 1rem;
}

p:first-child {
  font-size: 17px;
}

p:last-child {
  height: 25px;
}

button {
  padding: 3px 8px;
}

#lang, #pt {
  padding: 5px 10px;
  margin-bottom: 30px;
  margin-top: -18px;
  font-size: 0.96rem;
  cursor: pointer;
}

#credit {
  font-size: 0.85rem; /* Menor tamanho */
  margin-top: 40px; /* Maior espaçamento acima */
  color: #555; /* Cor mais discreta */
}

/* Estilizando o parágrafo de resposta */
#resposta {
  min-height: 40px; /* Altura mínima para reservar o espaço */
  padding: 10px 0;  /* Espessura do espaço */
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.3s ease; /* Suavizar transições de alterações */
}
